confirmed_fronts/
Datasets/
*.csv
scripts/*
cloud-sql-proxy
Datasets/canonical_images


car_tinder/**/node_modules/
car_tinder/**/dist/
car_tinder/**/build/
car_tinder/**/.parcel-cache/
car_tinder/**/.vite/
car_tinder/**/.turbo/
car_tinder/**/.next/

car_tinder/**/*.tsbuildinfo


car_tinder/**/*.log

**/.DS_Store
**/Thumbs.db
**/.idea/
**/.vscode/